:root {
  /*Colors*/
  --grey-500: #6c757d;
  --grey-300: #e9ecef;
  --grey-400: #adb5bd;
  --black: #000;
  --white: #fff;

  /*Font weights*/
  --font-bold: 700;

  /*Font sizes*/
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;

  /*Font families*/
  --font-systemUI: system-ui, sans-serif; /*taken from https://modernfontstacks.com/#font-stacks*/
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: 100%;
}

.text-black {
  color: var(--black);
}

.text-grey-500 {
  color: var(--grey-500);
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-grey-400 {
  border-color: var(--grey-400);
}

.w-full {
  width: 100%;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.font-bold {
  font-weight: var(--font-bold);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-sm {
  font-size: var(--text-sm);
}

.font-systemUI {
  font-family: var(--font-systemUI);
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-0\.5 {
  width: 0.125rem;
  height: 0.125rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-white {
  border-color: var(--white);
}

.negative-ml-2 {
  margin-left: -0.5rem;
}

.bg-grey-500 {
  background-color: var(--grey-500);
}

.bg-grey-300 {
  background-color: var(--grey-300);
}

.h-px {
  height: 1px;
}

.inline-block {
  display: inline-block;
}

.basis-full {
  flex-basis: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.min-w-300px {
  min-width: 300px;
}

/*Desktop*/
@media (min-width: 1024px) {
  .lg\:basis-3\/4 {
    flex-basis: 75%;
  }
  .lg\:basis-1\/4 {
    flex-basis: 25%;
  }
  .lg\:justify-end {
    justify-content: flex-end;
  }
  .lg\:gap-0 {
    gap: 0;
  }
}

/*Large Desktop*/
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
